
@{
    ViewBag.Title = "OrderCompleted";
}

<div class="container m-5">
    <div class="row">
        <div class="col-md-12">
            <div class="align-items-center align-middle">
                <div class="alert alert-success text-center" role="alert">
                    <h4 class="alert-heading">Order placed Successfully</h4>
                    <p>Thank you ! for choosing ECART. Your order has been completed successfully.</p>
                    <hr>
                    <p class="mb-0">Our delivery executive will soon reach out to you for update on delivery details.</p>
                </div>
            </div>
        </div>
    </div>
</div>
