<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a href="#" class="navbar-brand">mStock App</a>
    <button class="btn navbar-toggler" type="button" data-bs-toggle="collapse" 
    data-bs-target="#menu">
        <span class="navbar-toggler-icon"></span>
    </button>
 <div class="navbar-collapse" id="menu"> 
     <ul class="navbar-nav">
         <li class="nav-item">
            <a [routerLink]="['login']" class="nav-link" *ngIf="userLoggedIn!=true">Login</a>
        </li>
        <li class="nav-item">
            <a [routerLink]="['Companies']" class="nav-link">Companies</a>
        </li>
        <li class="nav-item">
            <a [routerLink]="['Watch-list']" class="nav-link" *ngIf="userLoggedIn==true">Watch List</a>
        </li>
        <li class="nav-item">
         <a href="#" class="nav-link" *ngIf="userLoggedIn==true">Compare Performance</a>
         </li>
        <li class="nav-item">
            <a href="#" class="nav-link" *ngIf="userLoggedIn==true">Logout</a>
        </li> 
     </ul>
 </div>
</nav>
